*
{
  box-sizing: border-box;

}
html body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.headbackground
{
	width: 100%;
	height: 500px;
	background-color: hsl(356, 100%, 66%);
	background-image: url(../images/bg-pattern-intro.svg);
	background-position:-230px 1450px ;
	 background-size:180%;
   padding-top: 70px;
   border-radius: 0px 0px 0px 110px;

}
.headtitle
{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
#blogrtitle
{
	/*margin-left: 200px;*/
	font-weight: bold;
	font-size: 36px;
	color:hsl(0, 0%, 100%);
	font-family: 'Kumbh Sans', sans-serif;
  width: 350px;
  text-align: right;
}
.nav
{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar
{
font-weight: bold;
width: 500px;
}
.drop
{
  position: absolute;

}
ul
{ 
  
  list-style-type: none;
  font-size: 20px;


}
li
{
  display: inline-block;
  margin-left: 15px;

}
li a
{
  display: block;
    color: #ffff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
   
}
li a:hover
{

border-radius: 50px 50px 50px 50px;
color: white;
}
#navlogin
{

}
#active
{
  background-color: #fff;
    color: hsl(353, 100%, 62%);
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border: 1px solid #fff;
}
#brandcontent
{
  margin: 100px 200px;
}
#modercontent
{
  padding: 10px 100px;
  font-size: 54px;
  color: #fff;
}
#growcontent
{
  padding: 0px 250px;
   color: #fff;
   font-size: 20px;
}
#buttongroup
{
  margin: 50px 300px;
}
#buttongroup button
{
  width: 150px;
  height: 50px;
  border-radius: 30px 30px;
  border: 1px solid #fff;
  font-weight: bold;
  
}
#star
{
  color: hsl(353, 100%, 62%);
}
#learn
{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
#titlefutere
{
 text-align: center;
 font-size: 35px;
padding: 50px;
}
.disfuture
{
  width: 100%;
 display: flex;
  flex-wrap: wrap-reverse;
    justify-items: center;
    margin-top: -100px;
}
.future
{
  width: 600px;
  height: 400px;
  padding: 0px 80px;

}
.disfuture img
{
  width: 600px;
  height: 500px;
}
.infracture
{
  margin-top: 40px;
   width: 100%;
   height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color:hsl(237, 17%, 21%);
  border-radius: 0px 90px 0px 100px;
  color: #fff;
}
.infracture div
{
  width: 600px;
  height: 200px;
  padding: 50px;
}
.infracture img
{
  width: 400px;
  height: 450px;
  margin: -100px 0px 0px 50px;
}
.disfuture2
{
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
    justify-items: center;
}
.disfuture2 img
{
  width: 600px;
  height: 500px;
  margin-top: -97px;
}

.footer
{
  width: 100%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  background-color:  hsl(237, 17%, 21%);
  justify-content: space-between;
  padding: 20px 300px;
  color: hsl(240, 2%, 79%);
  border-radius: 0px 60px 0px 0px;
}
.footer div
{

  width: 100px;
  height: 100px;
  font-size: 20px;
}
.footer div b
{
  color: #fff;
}
@media screen and (max-width: 375px)
{
  .headbackground
{
  width: 671px;
  height: 900px;
  border-radius:0px 0px 0px 150px;
  background-color: hsl(356, 100%, 66%);
  background-image: url(../images/bg-pattern-intro.svg);
  background-position:-1200px 2800px ;
   background-size:590%;
   padding-top: 10px;

}

.headtitle
{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
#blogrtitle
{
  /*margin-left: 200px;*/
  font-weight: bold;
  font-size: 50px;
  color:hsl(0, 0%, 100%);
  font-family: 'Kumbh Sans', sans-serif;
  width: 150px;
  text-align: right;
  padding:20px 10px;
}
.nav
{
  width: 70%;
  display: block;
  background-color: red;
}
#navbar
{
font-weight: bold;
width: 500px;
}
/*
ul
{
  list-style-type: none;
  font-size: 20px;


}
li
{
  display:block;
  margin-left: 15px;

}
li a
{
  display: block;
    color: #ffff;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
   
}
li a:hover
{

border-radius: 50px 50px 50px 50px;
color: white;
}*/
#navlogin
{
font-size: 20px;
}
#active
{
  background-color: #fff;
    color: red;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border: 1px solid gray;
}

#brandcontent
{
  margin: 90px 10px;
  width: 100%;
}
#modercontent
{
  font-size: 57px;
text-align: center;
  color: #fff;
}
#growcontent
{
  padding: 0px 110px;
   color: #fff;
   font-size: 30px;
}
#buttongroup
{
  margin: 130px 100px;
}
#buttongroup button
{
  width: 180px;
  height: 70px;
  border-radius: 30px 30px;
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 23px;
  
}
#titlefutere
{
 text-align: center;
 font-size: 35px;
padding:30px;
width: 659px;
font-weight: bold;
}
.disfuture
{
  margin-top: 20px;
  width: 659px;
  display: flex;
  flex-wrap: wrap-reverse;
    justify-items: center;
    text-align: center;
}
.future
{
  width: 659px;
  height: 1000px;

}
.disfuture img
{
  width: 600px;
  height: 600px;
  margin-top: 1px;
}
.future div
{
  font-size: 30px;
  height: 500px;
}
.infracture
{
  margin-top: 40px;
   width: 660px;
   height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color:hsl(237, 17%, 21%);
  border-radius: 0px 90px 0px 100px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.disfuture2
{
  margin-top: 200px;
  width: 680px;
  display: flex;
  flex-wrap: wrap;
    justify-items: center;
    text-align: center;
}
.disfuture2 img
{
  width: 600px;
  height: 600px;
}
.footer
{
  width: 677px;
  height: 1400px;
  display: flex;
  flex-wrap: wrap;
  background-color:  hsl(237, 17%, 21%);
  justify-content: space-between;
  padding: 20px 200px;
  color: hsl(240, 2%, 79%);
  border-radius: 0px 60px 0px 0px;
}
#blog
{
  height: 120px;
}
.footer div
{

  width: 200px;
  height: 400px;
  font-size: 50px;
}
.footer div b
{
  color: #fff;
}
